<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.oimmei.oipharma.OIApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeTest">
<!--        <meta-data-->
<!--            android:name="firebase_crashlytics_collection_enabled"-->
<!--            android:value="${crashlyticsCollectionEnabled}" />-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="@xml/google_api_key" />-->
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeTest"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>